* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 18px;
  
}

/* TEXT USER SELECT */
::selection {
  background-color:transparent;
}

/* LOGO START */
.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 2rem; */
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(4px 5px 1em #000);
}
/* .logo.tk:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
/* LOGO END */
.app {
  min-height: 100dvh;
  min-width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.main__container {
  /* min-height: 37.5rem; */
  height: auto;
  /* align-items: flex-start; */
  /* width: 100svw; */
  /* height: 100svh; */
  /* background-color: var(--color-bg-calculator); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  max-width: 58.75rem;
  margin: 2.5rem 0;
  min-width: 100%;
  /* font-size: 2.5em; */
  text-align: center;
  color: #ededed;
  margin-top: 2rem;
  
  line-height: 1.1;
  font-weight: 700;
  font-size: clamp(2em, 3vw, 5em);
  /* font-size: 3rem; */
  font-style: normal;
  letter-spacing: 0.6875rem;
}



